.lpPetsContact-container {
  /* border: solid red; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  background-color: black;
}
.lpPetsContact-wrapper {
  /* border: solid green; */
  height: 100%;
  padding: 15px;
}

.lpPetsContact-content {
  /* border: solid blue; */
  color: var(--lpCustomBg);
}
.lpPetsContact-content:nth-child(2) {
  /* border: solid green; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
.lpPetsContact-content > h2 {
  font-family: "Syne", sans-serif;
  font-size: 70px;
  font-weight: bold;
}
.lpPetsContact-content > p {
  font-size: 20px;
}
.lpPetsContact-wrapper:nth-child(1) {
  /* border: solid red; */
  width: 50%;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.lpPetsContact-wrapper:nth-child(2) {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}
.lpPetsContact-imgContainer {
  width: 80%;
  height: 100%;
  border: solid var(--lpCustomBg) 5px;
  border-radius: 20px;
  overflow: hidden;
}
.lpPetsContact-imgContainer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
  transition: 300ms ease;
}
.lpPetsContact-imgContainer:hover img {
  transform: scale(1);
}
.lpPetsContact-logo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.lpPetsContact-logoContainer {
  /* border: solid red; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.lpPetsContact-logo > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.lpPetsContact-content > p {
  color: var(--lpCustomBg);
  height: 100%;
}
.lpPetsContact-item > button {
  border: none;
  width: 350px;
  padding: 5px 15px;
  background-color: var(--customColor);
  box-shadow: 0 5px 0px var(--lpCustomBg);
  transition: 300ms ease-in-out;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: relative; */

  &:hover {
    box-shadow: 0 0px 0px black;
  }
}
.lpPetsContact-item > button > span {
  background-color: black;
  padding: 5px;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  right: 10px;
}
.lpPetsContact-icon {
  color: var(--lpCustomBg);
}

.lpPetsContact-content:nth-child(2) {
  /* border: solid green; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.lpPetsContact-itemContainer {
  /* border: solid red; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  width: 70%;
}
.lpPetsContact-itemArrow {
  animation: move 1.5s infinite alternate linear;
}
.lpPetsContact-itemArrow > img {
  width: 160px;
  height: 160px;
  object-fit: contain;

  transform: rotate(30deg) scale(1.3);
}
@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100px);
  }
}
.lpPetsContact-item > h4 {
  color: var(--customColor);
}
.lpPetsContact-item > a {
  color: var(--lpCustomBg);
  text-decoration: none;
  font-size: 20px;
}
.lpPetsContact-formIco {
  color: var(--lpCustomBg);
}
.lpPetsContact-content:nth-child(3) {
  /* border: solid red; */
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.lpPetsContact-social > a {
  color: var(--lpCustomBg);
  border-radius: 100%;
}
.lpPetsContact-socialIcon {
  width: 50px;
  height: 50px;
  border: solid 1px var(--lpCustomBg);
  padding: 10px;
  border-radius: 100%;
}

/* -------------------------------Contact Us------------------------------------- */
.contact-form {
  width: 70%;
  margin: 50px auto;
  color: var(--lpCustomBg);
}

.contact-form h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 600;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid var(--lpCustomBg);
  border-radius: 30px;
  background: transparent;
  color: var(--lpCustomBg);
  font-size: 18px;
  outline: none;
}
.contact-form input::placeholder {
  color: var(--lpCustomBg);
  font-size: 18px;
}
.contact-form textarea {
  border-radius: 15px;
  min-height: 120px;
  resize: none;
}
.contact-form textarea::placeholder {
  color: var(--lpCustomBg);
  font-size: 18px;
}

.contact-form > form > button {
  border: none;
  width: 350px;
  padding: 5px 15px;
  background-color: var(--customColor);
  box-shadow: 0 5px 0px var(--lpCustomBg);
  transition: 300ms ease-in-out;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: relative; */

  &:hover {
    box-shadow: 0 0px 0px black;
  }
}
.contact-form > form > button > span {
  background-color: black;
  padding: 5px;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  right: 10px;
}
@media screen and (max-width: 768px) {
  .lpPetsContact-container {
    /* border: solid red; */
    flex-direction: column;
    padding: 20px 10px;
  }
  .lpPetsContact-content > h2 {
    font-size: 35px;
    text-align: center;
  }
  .lpPetsContact-content > p {
    font-size: 20px;
    text-align: justify;
  }
  .lpPetsContact-wrapper:nth-child(1) {
    /* border: solid red; */
    width: 100%;
  }
  .lpPetsContact-wrapper:nth-child(2) {
    width: 100%;
    height: 100%;
  }
  .lpPetsContact-itemArrow {
    display: none;
  }
  .lpPetsContact-itemContainer {
    /* border: solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .lpPetsContact-item > h4 {
    text-align: center;
  }
  .lpPetsContact-item > a {
    text-align: center;
  }
  .lpPetsContact-content:nth-child(3) {
    /* border: solid red; */
    padding: 10px;
    gap: 20px;
    width: 100%;
  }
  .contact-form > form > button {
    border: none;
    width: 100%;
  }
  .contact-form {
    width: 100%;
    margin: 50px auto;
    color: var(--lpCustomBg);
  }
  .contact-form h2 {
    text-align: center;
  }
}
