.websitePage {
  /* border: solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.component-container {
  /* border: solid blue; */
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--customBg);
}
.component-main {
  /* border: solid green; */
  width: 70%;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.component-mainContent {
  /* border: solid yellow; */
  border-radius: 20px;
  background-color: white;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 10px grey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.component-sidebar {
  /* border: solid teal; */
  width: 20%;
  padding: 10px;
}
@media screen and (max-width:768px){
  .component-container {
  /* border: solid blue; */
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.component-main {
  /* border: solid green; */
  width: 100%;
  padding: 10px;
}
.component-sidebar {
  /* border: solid teal; */
  width: 100%;
  padding: 10px;
}
}