.lpMedicalHeader-container {
  /* border: solid red; */
  height: 100%;
  width: 100%;
  position: relative;
}
/* .carousel-container {
  border: solid brown;
  width: 100%;
  height: 100%;
}
.carousel-item {
  border: solid black;
  width: 100%;
  height: 600px;
  position: relative;
} */
.lpMedicalHeader-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border: solid red; */
}
.lpMedicalHeader-container > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border: solid red; */
}
.lpMedicalHeader-cover {
  /* border: solid green; */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.385);
  position: absolute;
  bottom: 1px;
  left: 0;
}
.lpMedicalHeader-content {
  /* border: solid yellow; */
  height: 100%;
  width: 50%;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

.lpMedicalHeader-content > h6 {
  font-size: 25px;
  font-weight: bold;
  color: white;
}
.lpMedicalHeader-content > h2 {
  font-size: 50px;
  font-weight: bold;
  color: var(--customColor);
}
.lpMedicalHeader-content > p {
  font-size: 20px;
  color: white;
  text-align: justify;
}
.lpMedicalHeader-btn {
  /* border: solid green; */
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
/* .carousel-control-next,
.carousel-control-prev {
  height: 100px;
} */
.lpMedicalHeader-btn > a {
  border: solid 2px var(--customColor);
  border-radius: 2px;
  background-color: transparent;
  box-shadow: 0px 4px 6px 0px #0008;
  transition: 300ms ease all;
  padding: 1em;
  color: var(--customColor);
  font-weight: 550;
  text-decoration: none;
  &:hover {
    background-color: black;
    color: white;
    border: solid 2px transparent;
  }
}
@media screen and (max-width: 768px) {
  .lpMedicalHeader-container {
    /* border: solid red; */
    height: 100vh;
    width: 100%;
  }
  .lpMedicalHeader-cover {
    /* border: solid green; */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
  }
  .lpMedicalHeader-content > h2 {
    font-size: 40px;
    font-weight: bold;
    color: var(--customColor);
  }
  .lpMedicalHeader-content {
    /* border: solid yellow; */
    height: 100%;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .lpMedicalHeader-btn {
    /* border: solid green; */
    flex-direction: column;
  }
  .lpMedicalHeader-content > h2 {
    text-align: center;
  }
  .carousel-item > img {
    object-position: -900px;
  }
  .lpMedicalHeader-content > h6 {
    text-align: center;
  }
}
