.homeWhatWeContainer {
  /* border: solid red; */
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeWhatWeContent1 {
  /* border: solid blue; */
  width: 60%;
  position: relative;
  overflow: hidden;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.homeWhatWeContent2 {
  /* border: solid green; */
  width: 40%;
  position: relative;
  overflow: hidden;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeWhatWeContent2 > img {
      /* border: solid red; */

  width: 450px;
  height: 450px;
  object-fit: cover;
  border-radius: 100%;
  position: static;
  z-index: 1;
}

.homeWhatWeHeader > h6 {
  color: var(--customColor);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  text-align: start;
  width: 100%;
}
.homeWhatWeHeader > h6::before {
  content: "•";
  font-size: 20px;
  color: var(--customColor);
}
.homeWhatWeHeader > h6::after {
  content: "•";
  font-size: 20px;
  color: rgb(0, 174, 255);
}
.homeWhatWeHeader > h2 {
  font-size: 50px;
}
.homeWhatWeHeader > p {
  font-size: 20px;
  text-align: justify;
}
.homeWhatWeHeader > p > span {
  color: var(--customColor);
}
.homeWhatWeBtn {
  width: 100%;
  /* border: solid red; */
  padding: 10px;
}
.homeWhatWeBtn > a {
  text-decoration: none;
}
.homeWhatWeBtn > a > button {
  border: none;
  padding: 10px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--customColor);
  color: white;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.homeWhatWeBtn > a > button::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  background: radial-gradient(
    465px at -15.1% -25%,
    rgb(11, 18, 236) 0%,
    rgb(67, 166, 238) 49%,
    rgb(126, 203, 244) 90.2%
  );
  transition: 300ms ease-in-out;
  z-index: -1;
}
.homeWhatWeBtn > a > button:hover::after {
  width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .homeWhatWeContainer {
    /* border: solid red; */
    flex-direction: column-reverse;
  }
  .homeWhatWeContent1 {
    /* border: solid blue; */
    width: 100%;
  }
  .homeWhatWeContent2 {
    /* border: solid green; */
    width: 100%;
  }
  .homeWhatWeContent2 > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0%;
    position: static;
    z-index: 1;
  }
  .homeWhatWeHeader > h6 {
    color: var(--customColor);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    width: 100%;
  }
  .homeWhatWeHeader > h2 {
    font-size: 40px;
    text-align: center;
  }
  .homeWhatWeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 979px) {
  .homeWhatWeContainer {
    /* border: solid red; */
    flex-direction: column-reverse;
  }
  .homeWhatWeContent1 {
    /* border: solid blue; */
    width: 100%;
  }
  .homeWhatWeContent2 {
    /* border: solid green; */
    width: 100%;
  }
  .homeWhatWeContent2 > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0%;
    position: static;
    z-index: 1;
  }
  .homeWhatWeHeader > h6 {
    color: var(--customColor);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    width: 100%;
  }
  .homeWhatWeHeader > h2 {
    font-size: 40px;
    text-align: center;
  }
  .homeWhatWeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 990px) and (max-width: 1200px) {
  .homeWhatWeContainer {
    /* border: solid red; */
    flex-direction: column-reverse;
  }
  .homeWhatWeContent1 {
    /* border: solid blue; */
    width: 100%;
  }
  .homeWhatWeContent2 {
    /* border: solid green; */
    width: 100%;
  }
  .homeWhatWeContent2 > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0%;
    position: static;
    z-index: 1;
  }
  .homeWhatWeHeader > h6 {
    color: var(--customColor);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    width: 100%;
  }
  .homeWhatWeHeader > h2 {
    font-size: 40px;
    text-align: center;
  }
  .homeWhatWeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
