.lpMedicalWork-container {
  /* border: solid red; */
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.lpMedicalWork-wrapper {
  /* border: solid green; */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  background-color: var(--customBg);
  width: 85%;
  border-radius: 20px;
}
.lpMedicalWork-content:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0px;
}
.lpMedicalWork-content:nth-child(1) > h2 {
  font-size: 40px;
  text-align: center;
}
.lpMedicalWork-content > h2 > span {
  color: var(--customColor);
}
.lpMedicalWork-content > p {
  width: 70%;
  text-align: center;
  color: grey;
  font-size: 20px;
}
.lpMedicalWork-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
}
.lpMedicalWork-item {
  /* border: solid blue; */
  width: 120px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.lpMedicalWork-icon {
  font-size: 20px;
}
.lpMedicalWork-item > img {
  width: 50px;
  height: 50px;
}
.lpMedicalWork-item > b {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .lpMedicalWork-container {
    /* border: solid red; */
    padding: 10px;

  }
  .lpMedicalWork-wrapper {
    /* border: solid green; */
    padding: 20px;
    gap: 20px;
    width: 100%;
  }
  .lpMedicalWork-content > p {
  width: 100%;
  text-align: center;
  color: grey;
  font-size: 20px;
}
  .lpMedicalWork-content {
    gap: 10px;
    flex-direction: column;
  }
  .lpMedicalWork-icon {
    display: none;
  }
  .lpMedicalWork-item {
    /* border: solid blue; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    padding: 20px;
  }
  .lpMedicalWork-item > b {
  text-align: start;
}
.lpMedicalWork-content:nth-child(1) > h2 {
  font-size: 30px;
  text-align: center;
}
.lpMedicalWork-content > h2 > span {
  color: var(--customColor);
}
.lpMedicalWork-content > p {
  width: 100%;
  text-align: justify;
  color: grey;
  font-size: 20px;
}
}
