.homeTestimonial-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  /* border: solid blue; */
}
.homeTestimonial-CarouselContainer {
  /* border: solid red; */
  width: 750px;
  height: 450px;
  padding: 20px;
  position: relative;
}
.homeTestimonial-content {
  /* border: solid green; */
  width: 100%;
  height: 430px !important;
  border-radius: 20px 20px 100px 20px;
  background-color: var(--customColor);
  overflow: hidden;
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; */
  gap: 30px;
  padding: 20px;
  position: relative;
}

.homeTestimonial-quote {
  /* border: solid blue; */
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: white;
  z-index: 1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgb(125, 125, 125);
}
.homeTestimonial-quote > img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}
.homeTestimonial-item2 > p {
  color: white;
  font-size: 18px;
  text-align: justify;
}
.homeTestimonial-item1 {
  /* border: solid blue; */
  padding: 20px;
  height: 80px;
}
.homeTestimonial-item2 {
  /* border: solid yellow; */
  padding: 10px;
  height: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 20px;
}
.homeTestimonial-item1 > img {
  width: 150px;height: fit-content;

}
.homeTestimonial-item2 > h3 {
  color: white;
}
.homeTestimonial-item2 > span {
  color: white;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .homeTestimonialHeader {
    /* border: solid red; */
    width: 100%;
  }
  .homeTestimonialHeader > h2 {
    font-size: 40px;
  }
  .homeTestimonial-CarouselContainer {
    /* border: solid red; */
    width: 100%;
    max-width: 750px;
    height: 100%;
    padding: 20px;
    position: relative;
  }
  .homeTestimonial-content {
    /* border: solid green; */
    width: 100%;
    height: 100%;
    gap: 30px;
    padding: 30px 10px;
    position: relative;
  }
}
@media screen and (min-width: 768px) and (max-width: 979px) {
  .homeTestimonialHeader {
    /* border: solid red; */
    width: 100%;
  }
  .homeTestimonialHeader > h2 {
    font-size: 40px;
  }
  .testimonialContainer {
    /* border: solid brown; */
    height: 100%;
    width: 80%;
    /* background-color: red; */
  }
  .homeTestimonialCarousel {
    /* border: solid; */
    height: 100%;
    width: 100%;
    border-radius: 20px;
  }
  .carousel-item {
    /* border: solid green; */
    height: 450px;
    width: 600px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel-caption p {
    /* border: solid; */
    color: black;
    font-size: 18px;
    width: 100%;
    text-align: justify;
  }
}
