.lpPetsHeader-container {
  /* border: solid red; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  background-color: black;
}
.lpPetsHeader-wrapper {
  /* border: solid green; */
  height: 100%;
  padding: 15px;
}

.lpPetsHeader-content {
  /* border: solid blue; */
  color: var(--lpCustomBg);
}
.lpPetsHeader-content:nth-child(2) {
  /* border: solid green; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
.lpPetsHeader-content > h2 {
  font-family: "Syne", sans-serif;
  font-size: 60px;
  font-weight: bold;
}
.lpPetsHeader-content > p {
  font-size: 16px;
}
.lpPetsHeader-wrapper:nth-child(1) {
  /* border: solid red; */
  width: 60%;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.lpPetsHeader-wrapper:nth-child(2) {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}
.lpPetsHeader-imgContainer {
  width: 80%;
  height: 100%;
  border: solid var(--lpCustomBg) 5px;
  border-radius: 20px;
  overflow: hidden;
}
.lpPetsHeader-imgContainer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
  transition: 300ms ease;
}
.lpPetsHeader-imgContainer:hover img {
  transform: scale(1);
}

.lpPetsHeader-logo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.lpPetsHeader-logoContainer {
  /* border: solid red; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.lpPetsHeader-logo {
  border-radius: 100%;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border: 5px solid black;
  background-color: white;
}
.lpPetsHeader-logo:nth-child(2) {
  margin-left: -20px;
}
.lpPetsHeader-logo:nth-child(3) {
  margin-left: -20px;
}
.lpPetsHeader-logo > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.lpPetsHeader-content > p {
  color: var(--lpCustomBg);
  height: 100%;
}
.lpPetsHeader-item > a {
  text-decoration: none;
}
.lpPetsHeader-item > a > button {
  border: none;
  width: 350px;
  padding: 5px 15px;
  background-color: var(--customColor);
  box-shadow: 0 5px 0px var(--lpCustomBg);
  transition: 300ms ease-in-out;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: relative; */

  &:hover {
    box-shadow: 0 0px 0px black;
  }
}
.lpPetsHeader-item > a > button > span {
  background-color: black;
  padding: 5px;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  right: 10px;
}
.lpPetsHeader-icon {
  color: var(--lpCustomBg);
}
.lpPetsHeader-content:nth-child(3) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20%;
  width: 100%;
  position: relative;
}

.lpPetsHeader-item:nth-child(2) {
  animation: move 1.5s infinite alternate linear;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10px);
  }
}
.lpPetsHeader-item > img {
  width: 160px;
  height: 160px;
  object-fit: contain;
  top: -70px;
  right: -100px;
  transform: rotate(30deg) scale(1.3);
}
.lpPetsHeader-smlContent {
  /* border: solid yellow; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.lpPetsHeader-smlContent > p {
  color: var(--lpCustomBg);
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.lpPetsHeader-smlContent > p:nth-child(2) {
  color: var(--customColor);
}
.lpPetsHeader-smlIco {
  color: var(--customColor);
}
@media screen and (max-width: 1200px) {
  .lpPetsHeader-container {
    /* border: solid red; */

    padding: 10px;
    flex-direction: column;
  }
  .lpPetsHeader-content > h2 {
    font-size: 35px;
    text-align: center;
  }
  .lpPetsHeader-content > p {
    font-size: 18px;
    text-align: justify;
  }
  .lpPetsHeader-wrapper:nth-child(1) {
    /* border: solid red; */
    width: 100%;
  }
  .lpPetsHeader-wrapper:nth-child(2) {
    width: 100%;
  }
  .lpPetsHeader-imgContainer {
    width: 100%;
    height: 100%;
  }
  .lpPetsHeader-imgContainer > img {
    transform: scale(1);
  }
  .lpPetsHeader-content:nth-child(2) {
    /* border: solid green; */
    flex-direction: column;
  }
  .lpPetsHeader-content > p {
    font-size: 20px;
    text-align: center;
  }
  .lpPetsHeader-item:nth-child(2) {
    display: none;
  }
}
