.component-container {
  /* border: solid blue; */
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--customBg);
}
.component-main {
  /* border: solid green; */
  width: 70%;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.component-mainContent {
  /* border: solid yellow; */
  border-radius: 20px;
  background-color: white;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 10px grey;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.component-sidebar {
  /* border: solid teal; */
  width: 20%;
  padding: 10px;
}
@media screen and (max-width: 768px) {
  .component-container {
    /* border: solid blue; */
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
  }
  .component-main {
    /* border: solid green; */
    width: 100%;
    padding: 10px;
  }
  .component-sidebar {
    /* border: solid teal; */
    width: 100%;
    padding: 10px;
  }
}
.serviceHead {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.serviceHead > h6 {
  color: var(--customColor);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  width: 100%;
}
.serviceHead > h6::before {
  content: "•";
  font-size: 20px;
  color: var(--customColor);
}
.serviceHead > h6::after {
  content: "•";
  font-size: 20px;
  color: rgb(0, 174, 255);
}
.serviceHead > h2 {
  font-size: 50px;
  text-align: start;
}
.serviceHead > h2 > span {
  color: var(--customColor);
}
.serviceHead > p {
  color: rgb(102, 102, 102);
  text-align: justify;
  width: 100%;
  font-size: 20px;
}
.serviceSubHead-container > h2 {
  font-size: 30px;
  text-align: start;
  color: var(--customColor);
}
.serviceSubHead-container > p {
  color: rgb(102, 102, 102);
  text-align: justify;
  width: 100%;
  font-size: 20px;
}
.serviceHead > h4 {
  color: var(--customColor);
}
.serviceSubHead-container > h4 {
  color: var(--customColor);
}
.serviceSubHead-container > ul {
  margin: 0;
  padding: 0;
}
.serviceSubHead-container > ul > li {
  list-style: none;
  font-size: 20px;
  margin-top: 20px;
  color: rgb(102, 102, 102);
}
.serviceSubHead-container > ul > li > b {
  color: var(--customColor);
}
.service-container {
  border-top: 2px solid var(--customColor);
  width: 100%;
  height: 100%;
  /* border: solid black; */
  padding: 35px 20px;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 10px;
  margin-top: 20px;
}
.service-card {
  /* border: solid red; */
  width: 40%;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.service-cardContent > h3 {
  font-size: 20px;
}
.service-cardIcon {
  font-size: 40px;
  color: var(--customColor);
}
.serviceBenefits-container {
  border-top: 2px solid var(--customColor);
  width: 100%;
  height: 100%;
  /* border: solid black; */
  padding: 40px 20px;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  margin: 10px;
  margin-top: 20px;
}
.serviceBenefit-head {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.serviceBenefit-head > h2 {
  text-align: start;
  width: 100%;
  font-size: 30px;
  margin-bottom: 20px;
  color: var(--customColor);
}
.serviceBenefits-card {
  /* border: solid red; */
  width: 46%;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.serviceBenefits-cardContent > h3 {
  font-size: 30px;
}
.serviceBenefits-cardContent > p {
  text-align: justify;
}
.serviceBenefits-cardIcon {
  font-size: 40px;
  color: var(--customColor);
}
.serviceBook-container {
  /* border: solid green; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--customBg);
  border-radius: 20px;
}
.serviceBook-content > h3 {
  color: var(--customColory);
}
.serviceBook-content:nth-child(1) {
  width: 60%;
  /* border: solid red; */
  padding: 20px;
}
.serviceBook-content:nth-child(2) {
  width: 30%;
  height: 250px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.serviceBook-content:nth-child(2) > img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.serviceBook-content > button {
  border-radius: 20px;
  background-color: var(--customColor);
  padding: 10px;
  font-size: 20px;
  color: white;
  border: none;
}
.serviceBrochure-container {
  /* border: solid red; */
  width: 100%;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px grey;
}
.serviceBrochure-content > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.serviceBrochure-content:nth-child(1) {
  /* border: solid green; */
  width: 100%;
  height: 200px;
}
.serviceBrochure-content:nth-child(2) {
  /* border: solid green; */
  width: 100%;
  height: 100px;
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.serviceBrochure-content > a {
  text-decoration: none;
  color: var(--customColor);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.serviceBrochure-item {
  /* border: solid; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.serviceBrochure-item > p {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.serviceBrochure-icon {
  color: var(--customColor);
  font-size: 40px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .serviceHead > h2 {
    font-size: 40px;
  }
  .service-container {
    border-top: 2px solid var(--customColor);
    width: 100%;
    height: 100%;
    /* border: solid black; */
    padding: 10px;
    flex-direction: column;
    gap: 20px;
    margin: 10px;
    margin-top: 20px;
  }
  .service-card {
    /* border: solid red; */
    width: 100%;
    padding: 10px;
  }
  .serviceBenefits-container {
    width: 100%;
    height: 100%;
    /* border: solid black; */
    padding: 10px;
    flex-direction: column;

    margin-top: 10px;
  }
  .serviceBenefits-card {
    /* border: solid red; */
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
  }
  .serviceBook-container {
    /* border: solid green; */
    flex-direction: column-reverse;
  }
  .serviceBook-content:nth-child(1) {
    width: 100%;
    /* border: solid red; */
    padding: 20px;
  }
  .serviceBook-content:nth-child(2) {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.packageTable-container {
  width: 100%;
  overflow-x: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.packageTable-Head > h2 {
  font-size: 50px;
  text-align: center;
}
.packageTable-Head > p {
  color: rgb(102, 102, 102);
  text-align: justify;
  width: 100%;
  font-size: 20px;
}
.packageTable-content {
  width: 90%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  color: var(--customColor);
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border: solid white 1px;

  /* ✅ Add these */
  border-collapse: collapse;
  /* border: 1px solid red; */
}
.packageTable-content > thead > tr > th {
  border: solid gray 1px;
  width: calc(100% / 8);
  height: 60px;
  background-color: var(--customColor);
  color: white;
}
.packageTable-content > thead > tr > th:nth-child(1) {
  background-color: white;
  color: var(--customColor);
  font-size: 25px;
}
.packageTable-content > tbody > tr > td {
  border: 1px solid grey;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
}
.packageTable-content > tbody > tr > td > button {
  border: 1px solid var(--customColor);
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 10px;
  transition: 300ms ease;
  color: var(--customColor);
  &:hover {
    background-color: var(--customColor);
    color: white;
  }
}
.packageTable-content > tbody > tr > th {
  border: 1px solid grey;
  background-color: var(--customColor);
  color: white;
  padding: 10px;
}
.packageTable-checkIco {
  color: green;
  font-size: 30px;
}
.packageTable-crossIco {
  color: red;
  font-size: 30px;
}
.packageTable-exIco {
  color: gold;
  font-size: 30px;
}
@media screen and (max-width: 768px) {
  .packageTable-container {
    width: 100%;
    overflow-x: auto;

    align-items: flex-start;
  }
  .packageTable-content > thead > tr > th:nth-child(1) {
    background-color: white;
    color: var(--customColor);
    font-size: 20px;
  }
  .packageTable-content > tbody > tr > td {
    padding: 10px;
  }
}
.blog-content {
  /* border: solid red; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 20px !important;
  padding-left: 50px !important;
}
.blog-content > h1 {
  color: var(--customColor);
  width: 100%;
  text-align: center;
}
.blog-content > h2 {
  color: var(--customColor);
  width: 100%;
  text-align: start;
  font-size: 25px;
}
.blog-content > h3 {
  color: var(--customColor);
  width: 100%;
  text-align: start;
  font-size: 25px;
}
.blog-content > h6 {
  color: var(--customColor);
  width: 100%;
  text-align: start;
  font-size: 18px;
}
.blog-content > p {
  width: 100%;
  font-size: 20px;
  text-align: justify;
}
.blog-content > p > a {
  color: var(--customColor);
  text-decoration: none;
}
.blog-content > li > h6 {
  color: var(--customColor);
  font-size: 20px;
}
.blog-content > li > p > a {
  color: var(--customColor);
  text-decoration: none;
}
.blog-content > li {
  /* border: solid; */
  width: 100%;
  font-size: 20px;
  text-align: start;
  list-style: none;
}
.blog-content > li > span {
  /* border: solid; */
  color: var(--customColor);
}
.blog-content > li > a {
  text-decoration: none;
  color: var(--customColor);
}
.blog-content {
  /* border: solid red; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 30px;
}
.blog-content > h4 {
  color: var(--customColor);
  text-align: start;
  width: 100%;
}
.blog-content > h5 {
  font-size: 25px;
  color: var(--customColor);
  text-align: center;
  width: 100%;
}
.blog-content > p {
  font-size: 20px;
  width: 100%;
  text-align: justify;
}
.blog-content > p > strong {
  color: var(--customColor);
}
.blog-content > p > a {
  color: var(--customColor);
  text-decoration: none;
}
.blog-content > li > ul > li > p > a {
  text-decoration: none;
  color: var(--customColor);
}
.blog-content > ul > li > strong {
  color: var(--customColor);
}

.blog-content > li > ul > li {
  list-style: none;
  font-size: 20px;
  text-align: justify;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 90%;
}
.blog-content > li > ul > li > span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--customColor);
  text-align: start;
}
.blog-content > li > ul > li > span > img {
  width: 20px;
  height: 20px;
}
.blog-wrapper1 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .blog-content {
    /* border: solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 20px !important;
    padding-left: 10px !important;
  }
  .blog-content > h3 {
    color: var(--customColor);
    width: 100%;
    text-align: start;
    font-size: 20px;
  }
  .blog-content {
    /* border: solid red; */
    padding: 5px;
  }
}
