.santa-container {
  /* border: solid red; */
  width: 100%;
  height: 0px;
  position: fixed;
  bottom: 100px;
  left: 0;
  z-index: 99;
}
.santa-container > marquee {
  border: solid green;
  position: absolute;
  height: 100px;
}
.santa-container > video {
  /* border: solid blue; */
  width: 150px;
  height: 50px;
  position: absolute;
  top: 50px;
  animation: santa 10s infinite linear;
}
@keyframes santa {
  0% {
    left: 0%; /* Start off-screen to the right */
  }
  100% {
    left: 100%; /* End off-screen to the left */
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {

}
